/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
.slider {
  .frame {
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    .slides {
      display: inline-block;

      li {
        position: relative;
        display: inline-block;
      }
    }
  }
}

@import "./fullwidth";
