[data-slider="fullwidth"] {
    width: 100%;
    max-width: 100%;

    .item {
        width: 100vw;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: absolute;
            width: 50%;
            height: 50%;
            text-align: center;
            white-space: normal;
            background-color: rgba($primaryBlue, .8);

            &.position-x-center.position-y-center  {
                transform: translate(-50%, -50%);
            }

            &.position-x-center {
                transform: translateX(-50%);
            }
            

            &.position-y-center {
                transform: translateY(-50%);
            }
            
            &.position {
                &-x {
                    &-center {
                        left: 50%;
                        // transform: translateX(-50%);
                    }
                    
                    &-right {
                        right: 10%;
                        // transform: translateX(-50%);
                    }

                    &-left {
                        left: 10%;
                        // transform: translateX(-50%);
                    }
                }

                &-y {
                    &-center {
                        top: 50%;
                        // transform: translateY(-50%);
                    }

                    &-top {
                        top: 10%;
                        // transform: translateY(-50%);
                    }

                    &-bottom {
                        bottom: 10%;
                        // transform: translateY(-50%);
                    }
                }
            }

            h1, h2, h3, h4, h5, h6, p {
                color: #fff;
                font-weight: 700;
                text-shadow: 0 0 10px #000;
            }

            h1    { font-size: 50px }
            h2    { font-size: 45px }
            h3    { font-size: 35px }
            h4    { font-size: 30px }
            h5    { font-size: 25px }
            h6, p { font-size: 20px }

            a {
                display: inline-block;
                padding: 10px 20px;
                color: #eee;
                font-size: 20px;
                font-weight: 700;
                background-color: #021c55;
                border-radius: 10px;
            }
        }
    }
}
